# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.LerpExample.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\karan\RiderProjects\LerpExample\.idea\.idea.LerpExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
